@media (max-width: 640px) {
    .header {
        background-image: url("../img/banner-mobile.jpg");
        max-width: 640px;
        min-width: 0;
        margin-bottom: 45px;
        min-height: 635px;
    }

    .header_wrp {
        margin: auto;
        min-width: 328px;
        position: relative;
        top: 202px;
    }

    .container {
        min-width: 270px;
        padding: 0 45px;
        display: block;
    }

    .header-logo {
        min-width: 270px;
        width: 100%;
    }

    .menu-list {
        display: block;
        padding: 0;
        margin: 0;
        position: absolute;
        top: -170px;
        right: 20px;
      }
      
      .menu-list-item {
        margin-left: 0;
      }

    .menu {
        display: none;
      }
      
      .menu__button:has(:checked) + .menu {
        display: block;
      }
      
      .menu__button {
        width: 25px;
        height: 20px;
        border: none;
        padding: 0;
        background-color: transparent;
        font-size: 25px;
        position: fixed;
        text-indent: -9999px;
        cursor: pointer;
        top: 30px;
        right: 15px;
        display: block;
      }
      
      .menu__button-label {
        width: 100%;
        height: 20%;
        margin-top: -0.1em;
        border-radius: 5px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        top: 50%;
      }
      
      .menu__button:before {
        top: 0;
      }
      
      .menu__button:after {
        bottom: 0;
      }
      
      .menu__button:before,
      .menu__button:after {
        content: "";
        width: 100%;
        height: 20%;
        border-radius: 5px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
      }

    .title {
        font-size: 26px;
        line-height: 36px;
        min-width: 328px;
    }

    .trends_title,
    .shop_title {
        font-size: 16px;
        max-width: 640px;
        min-width: 0;
    }

    .trends {
        min-width: 0;
        max-width: 640px;
        width: 100%;
        flex-wrap: wrap;
    }

    .trend {
        width: 100%;
        margin-bottom: 5px;
        margin-left: 0;
    }

    .trend-name {
        font-size: 16px;
    }

    .trend_text {
        width: 100%;
    }

    .wrap {
        max-width: 640px;
        margin-bottom: 45px;
        padding: 0 15px;
        box-sizing: border-box;
        flex-direction: column;
    }

    .main {
        width: 100%;
    }

    .card {
        flex-direction: column;
    }

    .card-name {
        font-size: 16px;
    }

    .card-text {
        margin-left: 0;
    }

    .card:last-child {
        margin-bottom: 45px;
    }

    .thumb {
        margin-bottom: 15px;
    }

    .aside {
        width: 100%;
        margin-left: 0;
    }

    .field-search,
    .field-email {
        max-width: 610px;
        width: 100%;
    }

    .button {
        max-width: 610px;
        width: 100%;
    }

    .shop {
        max-width: 570px;
        padding: 0 35px;
        flex-wrap: wrap;
        box-sizing: border-box;
    }

    .shop_item {
        width: 100%;
        margin-bottom: 50px;
        margin-left: 0;
    }

    .shop_pic {
        display: block;
    }

    .footer {
        min-width: 610px;
        min-width: 0;
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .socials {
        min-width: 610px;
        min-width: 0;
        width: 100%;
    }

    .copyright {
        min-width: 610px;
        min-width: 0;
        width: 100%;
    }

    .close_button {
        position: relative;
        right: -325px;
        top: -284px;
        width: 26px;
        height: 26px;
    }

    .popup_content {
        width: 331px;
        height: 546px;
        position: absolute;
    }

    .select {
        width: 280px;
    }

    .input_textarea {
        width: 260px;
    }
}